.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 45px;
}

.h1 {
  font-size: 2em;
  color: #333;
  margin-top: 0;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 10px;
}

.search-box input {
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  border: 2px solid #ccc;
  font-size: 1em;
}

.search-box button {
  padding: 8px 20px;
  border-radius: 4px;
  border: 2px solid #ccc;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 1em;
}

.table-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 80%;
}

.table-container-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.error {
  color: #ff0000;
}

.data-header {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  background-color: #f4f4f4;
  padding-top: 10px;
  padding-bottom: 10px;
}

.data-header p {
  display: inline;
  padding: 10px;
  align-items: left;
  font-weight: bold;
  font-size: 1.1em;
  color: #333;
}

.data-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.data-table th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.data-table th {
  background-color: #f2f2f2;
}

.data-table th {
  text-align: center;
  vertical-align: middle;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
}

.summary-table td {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid black;
}

.empty-column {
  border: none;
}

.center-column {
  text-align: center;
}
